body {
    background-color: #2b2e4a;
}

.container-fluid {
    padding: 50px;
    margin-top: 5%;
}

.container {
    background-color: #903749;
    padding: 50px;
    margin-top: 2%;
    border-radius: 5px;
}

#title {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: white;
    font-size: 40px;
}

.wh {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

.log {
    margin-left: 18.7%;
}

.register {
    background-color: #e84545;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.login {
    background-color: #e84545;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.cnt {
    color: white;
    background-color: #2b2e4a
}

